#titre {
    margin-top: 20px;
    text-align: center;
    text-decoration: underline;
}

p {
    width: 80vh!important;
}

.form-group {
    width: 50%;
    margin-top: 20px;
}

.form-control {
    width: 80vh!important;
}

.btn {
    display: block;
    margin: auto;
}

#resultat {
    text-align: center;
}
#question {
	margin-top: 20px;
}
