/* * [class*=row] {
    border: 1px solid red;
}

* [class*=col] {
    border: 1px solid red;
} */

h5 {
    margin-top: 20px;
    text-align: center;
}

p {
    width: 80vh!important;
}

.form-group {
    width: 50%;
    margin-top: 20px;
}

.form-control {
    width: 80vh!important;
}
.form-group input[type="text"] {
    margin-left: -42px !important;
}
.btn {
    display: block;
}
label {
    padding: 10px;
}
input[type="checkbox"]:last-child {
    margin-top: -10px !important;
}
#questionList {
    text-align:left;
}
ul {
    list-style-type: none;
}